/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-basis: 80vw; 
}

.searchWindowContainer {
  height: 100vh;
  flex: 2;
  display: flex;
  position: sticky;
  background: white;
  justify-content: center;
}

.postWindowContainer {
  height: 100vh;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.postWindow {
  height: 100vh;

}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchResultsContainer {
  display: flex;
  flex-direction: column;

}

.searchInputAndButton {
  display: flex;
  justify-content: center;
}

.searchResults {
  display: flex;
  flex-direction: column;
 
  
}

.newPostInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  
}

.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postInfo {
  width: 200px;
  display: flex;
  margin: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.synopsisText {
  flex-wrap: wrap;
  margin-top: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px; 
  font-size: 24px;
}

.mangaTitleText {
  align-self: center;
  font-size: 24px;
  margin: 10px 0 5px 0;

}

.postText {
  flex-wrap: wrap;
}

.searchImg {
  height: 50vh;
}